
 @font-face {
    font-family: Arcon;
    
    src: url(../fonts/arcon.regular.otf);
}

body {
    font-family: Arcon, Verdana;
    font-size: 16px;
}

a {
    color:black;
    text-decoration: underline;
}

section {
    padding: 0px 0px 40px 0px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

#landing-page {
    /*index.html*/
    opacity:0;
    visibility: collapse;
}


.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

.navbar{
    background: none;
    border: none;
    margin-bottom: 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

nav a {
    text-decoration: none;
}

.navbar-toggle {
  width: 100%;
  float: none;
  margin-right: 0;
  border:none;
}

.submenu li > a{
    margin:0;
    padding:0;
}

.submenu li {
    padding: 0px 10px;
}

@media (min-width: 979px) {
    /*On dropdown hover display options*/
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

@media (max-width: 979px) {
  .submenu {
    display: none;
  }
}

.story {
    background: url(../img/story2.jpg) no-repeat left center scroll;
    height:700px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

.story-desc {
	font-size: 26px; 
	/*padding-top:9%*/
}

.product-list{
    overflow:scroll;
    overflow-y: hidden; 
    white-space: nowrap;
}

.product-list li{
    padding-bottom:10px;
}

.product-div{
    width:300px;
    position: relative;
}

.product-div * {
    width:inherit;
}

.product-desc{
    position: absolute;
    bottom:0;
    background: rgba(255,255,255,0.7);
}

.product-img {
    border-radius: 4px 20px;
}

.about-img {
    width:200px
}

.social-link {
    padding:0px 5px;
    text-decoration: none;
}

@media(max-width: 480px) {
   /* CSS overrides for mobile here */
   .story-desc {
    font-size:16px !important;
    }
}

.nounderline{
	text-decoration: none !important;
	color: inherit;
}

footer {
    position:relative;
    height:50px;
    margin-bottom:5%;
}
