---
layout: default
---
<div class='container'>
    <!-- Upcoming events -->
    <!-- <section>
        <div class='text-center'>
            <h3>Upcoming Events</h3>
            <img id = 'landing-img2' src="/img/owktbr15.jpg" class="img-responsive img-center" alt="Only With Kings" width="900">
            
        </div>
    </section> -->

    <section>
       <!--  <div class='text-center'>
            <h1>Under reconstruction</h1>
        </div> -->
        <div>
            <img class = "img-responsive img-center" src = "/img/street.png" width="80%" style = "border-radius:20px;">
        </div>
    </section>
	<!-- Store -->
    <!-- <section>
        <div class='text-center'>
            <h3>Shop Attire <small>OWKTBR 2015 merch is in!</small></h3>
            <div class ='text-center'>
                <ul id = 'products' class='list-unstyled list-inline product-list'>
                {% for pro in site.data.products %}
                  <li>
                    <div id = 'a{{pro.id}}' class = 'product-div'>
                        <span class='product-desc'>{{pro.name}} {{ pro.price}}.00$</span>
                        <a href="http://owkstore.tictail.com/" title="{{pro.name}} {{ pro.price}}.00$">
                            <img class = 'product-img' src="{{pro.img}}" alt="" />
                        </a>
                    </div>
                  </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section> -->


    <!-- Past events -->
    <!-- <section>
        <div class='text-center'>
            <h3>Past Events</h3>
             <ul id = 'products' class='list-unstyled list-inline product-list'>
                {% for m in site.data.events %}
                <li>
                    <a class="fancybox" rel="group" href="{{m.img}}">
                        <img class = '' src="{{m.img}}" alt="" width = "300" /> 
                    </a>
                </li>
                {% endfor %}
             </ul>
        </div>
    </section> -->

    
</div>

<script type="text/javascript">
    // Fancybox past events
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>