---
---

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Owk.co</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/owk.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- JQuery -->
    <script src="/js/utils/jquery.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/utils/jquery.easing.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/utils/bootstrap.js"></script>

    <!-- Veocity js for animations -->
    <script  src="/js/utils/velocity.js"></script>

    <!-- Text scaling -->
    <script src="/js/fittext.js"></script>    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<img id = 'landing-img' src="/img/JAMESOWKEMBLEM1080.png" class="img-responsive img-center" alt="Only With Kings" width="500">
	<div style='opacity:0' id = 'landing-page'>
		<!-- Navigation -->
		{%include navbar.html %}

		<div class = 'text-center container'>
			<!-- Only With Kings Line -->
			<div style = 'background-color:black; width:100%;margin:0 auto;'>
				<h1><b style = 'color:white'>ONLY WITH KINGS</b></h1>
			</div>
		</div>

		<div id='includeContent'></div>

	</div>

	<!-- Footer -->
	<div class = 'container'>
	{% include footer.html %}
	</div>

	<!-- Custom js -->
    <script src="/js/main.js"></script>

	<script type='text/javascript'>
		$(function() {
		  // Handler for .ready() called.

		  	inc('home')

		  // Velocity animations
			$("#landing-img")
			.velocity({ width: '-=4%' },{delay:400,duration:200})
			.velocity({width: '+=3%'},1000)
			.velocity({ width: '100px'},500)

			$('#landing-page').velocity({opacity:1},{delay:1900, duration:1000})
		});

	</script>

</body>
</html>