---
layout: default
---

<!-- Store -->
<section>
	<div class='text-center'>
		<h3><small>Fall 2015, OWKTBR</small></h3>
        <div class ='text-center'>
            <ul id = 'products' class='list-unstyled list-inline product-list'>
            {% for pro in site.data.products %}
              <li>
                <div id = 'a{{pro.id}}' class = 'product-div'>
                    <span class='product-desc'>{{pro.name}} {{ pro.price}}.00$</span>
                    <a href="http://owkstore.tictail.com/" title="{{pro.name}} {{ pro.price}}.00$">
                        <img class = 'product-img' src="{{pro.img}}" alt="" />
                    </a>
                </div>
              </li>
            {% endfor %}
            </ul>
        </div>
	</div>
</section>

<section>
	<div class='text-center'>
		<h3><small>Winter 2015, OWKTBR</small></h3>
        <div class ='text-center'>
            <ul id = 'products2' class='list-unstyled list-inline product-list'>
            {% for pro in site.data.products2 %}
              <li>
                <div id = 'b{{pro.id}}' class = 'product-div'>
                    <span class='product-desc'>{{pro.name}} {{ pro.price}}.00$</span>
                    <a href="http://owkstore.tictail.com/" title="{{pro.name}} {{ pro.price}}.00$">
                        <img class = 'product-img' src="{{pro.img}}" alt="" />
                    </a>
                </div>
              </li>
            {% endfor %}
            </ul>
        </div>
	</div>
</section>

<!-- Community -->
    <section>
        <div class='text-center'>
            <h3>Community<br><small>#onlywithkings</small></h3>
            <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/0382dee45a34405e19a34434e842801c6625bd0b.html" id="instansive_0382dee45a" name="instansive_0382dee45a"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
    </section>