<!-- Navigation bar-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header text-center">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <i class = 'fa fa-bars'></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class='active'><a href="javascript:void(0)" onclick="javascript:inc('home')">Home</a></li>
        <li><a href="javascript:void(0)" onclick="javascript:inc('story')">Our Story</a></li>
        <li><a href="http://owkstore.tictail.com/" target = "_blank">Store</a></li>
        <li><a href="javascript:void(0)" onclick="javascript:inc('about')">About</a></li>
        <li><a href="javascript:void(0)" onclick="javascript:inc('blog')">Blog</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>